<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Consent</title>
</head>
<body>
    <h1> App want to get </h1>
    <form action="/consent" method="POST">
        <input type="checkbox" id="email" name="email" value="true">
        <label for="email"> Email </label><br>
        <input type="checkbox" id="address" name="address" value="true">
        <label for="address"> Address </label><br>
        <input type="checkbox" id="phone" name="phone" value="true">
        <label for="phone">Phone number</label><br>
        <input type="hidden" name="challenge" value="{{ .challenge }}" />

        <input type="submit" id="accept" name="submit" value="Confirm" />
    </form>
</body>
</html>